.main{
  position: relative;
  width: 250px;
  height: 320px;


}

.card{
  position: absolute;
  width: 100%;
  height: 100%;
   transform-style: preserve-3d;
transition: .5s;

}
.card:hover{
  transform: rotateY(180deg);
}

.front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background:yellow;


}

.beck{
  position: absolute;
  width: 100%;
  height: 100%;
  background: green;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}